*{
    margin: 0;
    padding: 0;
}

body{

    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: .8fr 3fr;
    grid-template-areas: 'aside chatArea';
    background: linear-gradient(90deg, rgb(37, 37, 37), rgb(28, 28, 28));
   
}

aside{
    grid-area: 'aside';
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 25, 25);
    color:aliceblue;
    font-size: 20px;
}
.room{
    margin: 1rem auto;
    padding: 1.3rem;
    border-radius: 10px;


    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

.app-name{
    padding-bottom:2rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-shadow: 1px 2px 2px;
}

#chat-container{
    grid-area: chatArea;
    display: flex;
    flex-direction: column;
    margin:1rem;

}
header{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700; 
    padding-left:3rem ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(24, 24, 24);
    border-bottom:1px solid rgba(233, 229, 229, 0.522) ;
}

#chat-area{
    display: flex;
    padding: 1rem 2rem;

    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

#chat-area::-webkit-scrollbar{
    display:none;
}

.message{
    padding: 1rem 2rem;
    width: max-content;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aliceblue

}

.sender{
    align-self: end;
    background-color: rgb(5, 120, 81);
    border-radius: 20px;
    border-top-right-radius: 0px;
    margin: .3rem 0rem;
}

.receiver{
    background-color: rgb(5, 90, 164);
    border-radius: 20px;
    border-top-left-radius: 0px;
    margin: .3rem 0rem;


}



.timestamp{
    font-size: 13px;
    color: rgba(240, 248, 255, 0.553);
    font-weight: 300;
    padding-top: .6rem
}
.receiver-time{
    justify-self: end;
}

.input-area{
    margin: 0 auto;
    width: 90%;
    display: flex;
    border-radius: 20px;
    background-color: rgba(63, 62, 62, 0.812);
    padding: 1rem .5rem;
    box-shadow: 1px 2px 8px rgb(4, 179, 176);

   

}
.input-area  input{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        margin: auto 1rem;
        height: 2rem;
        padding-left: 10px;
        font-size: 15px;
        border:none;
        border-radius: 20px;
    }

#send-btn{
    background-color: green;
    color: azure;
    padding: 10px;
    border-radius:20px;
}



.room-join{
    width: 100%;
    /* height: 2rem; */
    padding: 1rem;

}
#room-join-input{
    width: 60%;
    /* margin: 1rem auto; */
    padding: .3rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 10px;

}
#room-join-btn{
    /* margin: 1rem auto; */
    padding: .3rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;

}
#room-join-btn:hover{
    background-color: green;
    color: #f9f7f7;
    transform: scale(1.1);
}
#user-id{
    padding: 1rem;
    border: none;
    background-color: rgb(38, 38, 38);
    color: rgb(7, 253, 253);
    border-radius:20px;
    cursor: pointer;
}

.open{
    background-color: rgb(24, 24, 24);
    border-bottom: 2px solid greenyellow;
    color: greenyellow;
}


.room{
    cursor: pointer;
    display: flex;
    gap: 1rem;
}
.room:hover{
    background-color: rgb(66, 66, 66);
}

.online-status{
    color: aquamarine;
    display: flex;
    /* padding-left: 2rem; */
}
#typing-indicator{
    /* color: gray;  */
    font-style: italic;
    /* padding-left: 1rem ; */
    color: rgb(231, 231, 231);
}
.head-info{
    display: flex;
    padding:2rem;
    padding-top: 0;
    gap:2rem
}
header h2{
    margin: 2rem;
    margin-bottom: .5rem;
}
.not-access{
    background-color: rgb(47, 46, 46);
    cursor: not-allowed;
    pointer-events: none;
}
@media (max-width:1000px) {
    #room-join-input{
    width: auto;   
    font-size: .8rem;

}
    body{ 
    grid-template-columns: 1.5fr 3fr;  
   
}


}